.ul {
    display: flex;
    justify-content: space-around;
    background: #ccc;
    padding: 40px;
    list-style-type: none;
    color: blue;
    align-items: flex-end;
    height: 100%;
    margin-top: 500px;
}
